.App body {
	max-width: 600px;
	margin: 0 auto;
}

.App h1 {
	color: #0f3057;
	font-family: "Poppins", sans-serif;
	font-size: 22px;
	padding: 40px 15px 0 15px;
	text-align: center;
}

.App h2 {
	color: #00587a;
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	padding-top: 10px;
}

.App h3 {
	color: #0f3057;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding-top: 5px;
}

.App img {
	display: block;
	margin: 0 auto;
	padding-top: 15px;
	margin-bottom: -15px;
	width: 100%;
	max-width: 200px;
}

.App p {
	color: #0f0f0f;
	font-family: "Raleway", sans-serif;
}

.App form {
	padding-bottom: 20px;
}

.App button i {
	padding-right: 5px;
}

.App .short-date span {
	color: #0f0f0f;
	font-weight: 500;
	font-size: 14px;
}

.App .change-city {
	padding: 25px 12px 0 12px;
}
.App .change-city p {
	font-size: 14px;
	line-height: 14px;
}

.App .change-city button {
	background-color: #0f3057;
	border-color: #0f3057;
	display: block;
	font-size: 15px;
	font-family: "Raleway", sans-serif;
	padding: 6px 20px;
}

.App .find-me-button {
	margin: 0 auto;
}

.App .change-city button:hover {
	background-color: #ffffff;
	border-color: #0f3057;
	color: #0f3057;
}

.App .footer {
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
	font-size: 12px;
}

.App .footer a {
	color: #0f0f0f;
	text-decoration: none;
}

.App .footer a:hover {
	text-decoration: underline;
}
